$headerColor: #000000;
$buttonColorG: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$buttonColor: #FE9013;
$buttonHoverColor: rgba(228, 114, 9, 1);
$footerColor: rgba(17, 17, 21, 1);

.header-donate {
  position: absolute;
  background-color: $headerColor;
  height: 80px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;

  @media screen and (max-width: 790px) {
    position: fixed;
    height: 34px;
    padding: 0 16px;
  }

  @media screen and (max-width: 320px) {
    padding: 0px 11px 0 6px;
  }

  .header__wrapper {
    max-width: 1160px;
    width: 1160px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .header__nav {
    width: 100%;

    @media screen and (max-width: 640px) {
      width: 85%;
    }
  }
}

.header__burger {
  display: none;
  position: relative;
  background-color: #fff;
  height: 2px;
  width: 22px;
  border-radius: 2px;

  &::after {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    top: 5px;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    top: -5px;
  }

  @media screen and (max-width: 790px) {
    display: block;
  }
}

.section-watch-donate {
  background-image: url(../../../assets/images/giantpanda_donate.png);
  height: 466px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-position-y: 33px;

  @media screen and (max-width: 1000px) {
    height: 472px;
    background-position-y: 45px;
    background-position-x: -175px;
  }

  @media screen and (max-width: 790px) {
    background-position-y: 13px;
    background-position-x: -267px;
    background-size: 1365px 382px;
    height: 369px;
  }

  @media screen and (max-width: 610px) {
    background-size: 833px 220px;
    background-position-x: -176px;
    background-position-y: 19px;
    height: 221px;
  }



  .section-wrapper {
    max-width: 1145px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }
}

.section-peek-and-feed-donate {
  height: 1482px;
  width: 100%;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);

  @media screen and (max-width: 1200px) {
    height: 1331px;
  }

  @media screen and (max-width: 610px) {
    height: 1145px;
  }

  .section-wrapper {
    max-width: 1165px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
      padding: 0 30px 0 30px;
      align-items: center;
    }
  }

  .section-peek-and-feed-donate__text-top {
    display: flex;
    flex-direction: column;
    margin-top: 37px;
    gap: 9px;
    max-width: 1165px;

    @media screen and (max-width: 1200px) {
      gap: 30px;
      margin-top: 41px;
    }

    @media screen and (max-width: 970px) {
      margin-top: 30px;
      gap: 20px;
    }

    .text-top__h3 {
      font-family: Roboto;
      font-size: 36px;
      font-weight: 400;
      line-height: 47px;
      letter-spacing: 0em;
      text-align: left;
      width: max-content;

      @media screen and (max-width: 1200px) {
        width: 778px;
      }

      @media screen and (max-width: 970px) {
        width: 600px;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
      }

      @media screen and (max-width: 610px) {
        width: 300px;
      }
    }

    .text-top__paragraph {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;

      @media screen and (max-width: 1200px) {
        width: 940px;
      }

      @media screen and (max-width: 970px) {
        width: 600px;
      }

      @media screen and (max-width: 610px) {
        width: 300px;
      }
    }
  }

  .donation-information {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(254, 144, 19, 1);
    margin-top: 46px;
    margin-bottom: 60px;

    @media screen and (max-width: 1200px) {
      margin-bottom: 39px;
    }

    @media screen and (max-width: 1000px) {
      align-self: flex-start;
    }

    @media screen and (max-width: 970px) {
      align-self: center;
      margin-top: 31px;
      margin-bottom: 29px;
      margin-left: -10px;
    }

    @media screen and (max-width: 640px) {
      align-self: flex-start;
    }

    @media screen and (max-width: 610px) {
      align-self: center;
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: left;
      margin-left: -19px;
    }

    @media screen and (max-width: 320px) {
      align-self: flex-start;
    }
  }

  .section-peek-and-feed-donate__square-container {
    height: 964px;
    width: 1160px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.52);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1200px) {
      width: 940px;
      height: 918px;
    }

    @media screen and (max-width: 970px) {
      width: 600px;
      height: 918px;
    }

    @media screen and (max-width: 610px) {
      width: 300px;
      height: 591px;
    }


    .square-container-wrapper {
      height: 883px;
      width: 976px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .square-container-wrapper__top-text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (max-width: 1200px) {
          gap: 13px;
        }

        @media screen and (max-width: 970px) {
          gap: 23px;
        }

        @media screen and (max-width: 610px) {
          gap: 10px;
        }

        .head-text {
          font-family: Roboto;
          font-size: 48px;
          font-weight: 400;
          line-height: 58px;
          letter-spacing: 0em;
          text-align: center;
          color: rgba(254, 144, 19, 1);
          margin-right: 5px;

          @media screen and (max-width: 970px) {
            margin-top: 10px;
          }

          @media screen and (max-width: 610px) {
            font-size: 24px;
            line-height: 29px;
            margin-top: 167px;
          }
        }

        .head-second-text {
          font-family: Roboto;
          font-size: 24px;
          font-weight: 400;
          line-height: 29px;
          letter-spacing: 0em;
          text-align: left;
          color: rgba(51, 59, 65, 1);
          margin-right: 128px;

          @media screen and (max-width: 1200px) {
            margin-right: 0;
          }

          @media screen and (max-width: 970px) {
            width: 600px;
            text-align: center;
          }

          @media screen and (max-width: 610px) {
            width: 300px;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }

      .square-container-wrapper__diet-for-day {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        gap: 88px;
        margin-right: 8px;
        position: relative;

        @media screen and (max-width: 1200px) {
          margin-top: 56px;
        }

        @media screen and (max-width: 970px) {
          margin-top: 50px;
          gap: 65px;
        }

        @media screen and (max-width: 640px) {
          margin-right: 15px;
          gap: 90px;
        }

        @media screen and (max-width: 610px) {
          margin-bottom: -4px;
          margin-top: 0;
          margin-right: 0;
          gap: 50px;
        }

        .diet-for-day__number {
          display: flex;
          flex-direction: column;
          gap: 13px;
          margin-bottom: -57px;

          @media screen and (max-width: 610px) {
            gap: 7px;
            height: 76px;
          }

          .diet-number {
            color: rgba(0, 0, 0, 1);
            font-family: Roboto;
            font-size: 72px;
            font-weight: 500;
            line-height: 58px;
            letter-spacing: 0em;
            text-align: center;

            @media screen and (max-width: 610px) {
              font-size: 41px;
              line-height: 32px;
            }
          }

          .note-to-number {
            color: rgba(51, 59, 65, 1);
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;

            @media screen and (max-width: 610px) {
              width: 89px;
              font-size: 9px;
              line-height: 13px;
            }
          }
        }

        .diet-for-day__cross {
          position: absolute;
          background-color: #333B41;
          height: 18px;
          width: 3px;
          border-radius: 2px;
          transform: rotate(45deg);
          left: 175px;
          top: 131px;

          @media screen and (max-width: 610px) {
            height: 12px;
            width: 2px;
            left: 98px;
            top: 81px;
          }

          &::after {
            content: '';
            position: absolute;
            background-color: #333B41;
            height: 100%;
            width: 100%;
            border-radius: 2px;
            transform: rotate(90deg);
          }
        }

        .diet-for-day__pic {
          height: 246px;
          width: 284px;

          @media screen and (max-width: 610px) {
            height: 156px;
            width: 160px;
          }
        }
      }

      .square-container-wrapper__amount-text {
        color: rgba(0, 0, 0, 1);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 49px;
        padding-bottom: 10px;
        align-self: flex-start;
        margin-left: 5px;

        @media screen and (max-width: 1400px) {
          margin-left: 65px;
        }

        @media screen and (max-width: 970px) {
          margin-left: 0;
        }

        @media screen and (max-width: 640px) {
          margin-left: 10px;
          padding-top: 42px;
          padding-bottom: 18px;
        }

        @media screen and (max-width: 610px) {
          margin-left: 0px;
          padding-top: 42px;
          padding-bottom: 8px;
          padding-top: 0;
        }

      }

      .diet-for-day__amount-container {
        // GRID container
        position: relative;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-row-gap: 9px;
        grid-column-gap: 58px;
        justify-items: center;
        z-index: 0;
        margin-top: 5px;

        @media screen and (max-width: 1200px) {
          margin-top: 8px;
          grid-template-columns: repeat(7, 1fr);

          & div:nth-child(1) {
            display: none;
          }

          & div:nth-child(9) {
            display: none;
          }
        }

        @media screen and (max-width: 970px) {
          margin-top: -13px;
          grid-template-columns: repeat(5, 1fr);

          & div:nth-child(2) {
            display: none;
          }

          & div:nth-child(3) {
            display: none;
          }

          & div:nth-child(10) {
            display: none;
          }

          & div:nth-child(11) {
            display: none;
          }
        }

        @media screen and (max-width: 610px) {
          margin-top: -8px;
          grid-template-columns: repeat(5, 7px);
          grid-row-gap: 0;
        }

        &::after {
          content: '';
          position: absolute;
          z-index: -1;
          background: rgba(64, 73, 80, 1);
          height: 27px;
          width: 976px;
          top: 0px;
          border-radius: 2px;

          @media screen and (max-width: 1200px) {
            width: 810px;
          }

          @media screen and (max-width: 970px) {
            width: 600px;
          }

          @media screen and (max-width: 610px) {
            width: 300px;
            height: 13.5px;
            top: 8px;
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: 14px;
          z-index: 0;
          background: rgba(114, 130, 142, 1);
          height: 2px;
          width: 92%;
          border-radius: 2px;

          @media screen and (max-width: 970px) {
            width: 87%;
          }

          @media screen and (max-width: 610px) {
            width: 97%;
          }

          @media screen and (max-width: 320px) {
            width: 97%;
            top: 14.4px;
          }

        }

        .amount-round__container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border-radius: 30px;

          &:hover {
            cursor: pointer;
          }

          .amount__round-label {
            position: absolute;
            width: 53px;
            height: 53px;
            border-radius: 50%;
            cursor: pointer;
          }

          .amount__round {
            position: relative;
            z-index: 1;
            background: rgba(255, 238, 46, 1);
            width: 10px;
            height: 10px;
            border-radius: 10px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            transition: 0.7s ease;

            @media screen and (max-width: 610px) {
              width: 5px;
              height: 5px;
            }

            &:checked {
              position: relative;
              background: rgba(255, 238, 46, 1);
              width: 10px;
              height: 10px;
              border-radius: 10px;
              transition: 0.7s ease;

              @media screen and (max-width: 610px) {
                width: 5px;
                height: 5px;
              }

              &::after {
                content: '';
                position: absolute;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transition: 0.7s ease;
                transform: translate(-50%, -50%);
                border: 2px solid rgba(254, 144, 19, 1);

                @media screen and (max-width: 610px) {
                  width: 12px;
                  height: 12px;
                  border: 1px solid rgba(254, 144, 19, 1);
                }
              }

              &::before {
                content: '';
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transition: 0.7s ease;
                transform: translate(-50%, -50%);
                border: 2px solid rgba(254, 144, 19, 1);

                @media screen and (max-width: 610px) {
                  width: 20px;
                  height: 20px;
                  border: 1px solid rgba(254, 144, 19, 1);
                }
              }
            }
          }
        }

        .amount__price {
          color: rgba(51, 59, 65, 1);
          font-family: Roboto;
          font-size: 26px;
          font-weight: 500;
          line-height: 36px;
          letter-spacing: 0em;
          align-self: flex-end;

          @media screen and (max-width: 610px) {
            font-size: 13px;
            line-height: 18px;
          }

          &::before {
            content: '$';
            color: rgba(51, 59, 65, 1);
            font-family: Roboto;
            font-size: 23px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0em;
            left: 10px;

            @media screen and (max-width: 610px) {
              font-size: 13px;
              line-height: 18px;
            }
          }
        }

        // .amount-2000 {
        //   @media screen and (max-width: 1000px) {
        //     margin-left: 5px;
        //   }
        // }

        .amount-1000 {
          color: rgba(254, 144, 19, 1);
          font-family: Roboto;
          font-size: 26px;
          font-weight: 500;
          line-height: 36px;
          letter-spacing: 0em;

          &::before {
            content: '$';
            color: rgba(254, 144, 19, 1)
          }
        }

        .amount-1000 {
          color: rgba(254, 144, 19, 1);
        }

        .amount__eight-price {
          margin-left: -16px;

          @media screen and (max-width: 1000px) {
            margin-left: 7px;
          }

          @media screen and (max-width: 970px) {
            margin-left: -16px;
          }

          @media screen and (max-width: 320px) {
            margin-left: -7px;
          }


        }

        .amount__seven-price {
          margin-left: -16px;

          @media screen and (max-width: 1000px) {
            margin-left: 7px;
          }

          @media screen and (max-width: 970px) {
            margin-left: -16px;
          }

          @media screen and (max-width: 320px) {
            margin-left: -4px;
          }

        }

        .amount__six-price {
          margin-left: -16px;

          @media screen and (max-width: 1000px) {
            margin-left: 15px;
          }

          @media screen and (max-width: 320px) {
            margin-left: 4px;
          }

        }

        .amount__five-price {
          margin-left: -16px;

          @media screen and (max-width: 1000px) {
            margin-left: 15px;
          }

          @media screen and (max-width: 320px) {
            margin-left: 7px;
          }

        }

        .amount__four-price {
          margin-left: -16px;

          @media screen and (max-width: 1000px) {
            margin-left: 15px;
          }

          @media screen and (max-width: 320px) {
            margin-left: 9px;
          }

        }

        .amount__three-price {
          @media screen and (max-width: 1000px) {
            margin-left: 0;
          }
        }
      }

      .square-container-wrapper__donate {
        display: flex;
        flex-direction: column;
        align-items: center;

        .amount-input__wrapper {
          position: relative;
          margin-bottom: 26px;

          @media screen and (max-width: 970px) {
            margin-bottom: 30px;
          }

          @media screen and (max-width: 610px) {
            margin-bottom: 24px;
          }

          &::before {
            content: '$';
            z-index: 10;
            position: absolute;
            color: #FFFFFF;
            font-family: Roboto;
            font-weight: 900;
            font-size: 24px;
            left: 247px;
            top: 63px;

            @media screen and (max-width: 970px) {
              font-weight: 500;
              font-size: 22px;
              left: 159px;
              top: 57px;
            }

            @media screen and (max-width: 610px) {
              left: 160px;
              top: 31px;
            }

          }
        }

        .amount__input {
          position: relative;
          margin-top: 50px;
          background: rgba(51, 59, 65, 1);
          border: 1px solid #FFEE2E;
          color: #FFFFFF;
          outline: 0;
          padding: 0 10px;
          height: 54px;
          width: 268px;
          border-radius: 2px;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0em;

          @media screen and (max-width: 970px) {
            height: 42px;
            width: 182px;
          }

          @media screen and (max-width: 610px) {
            margin-top: 23px;
          }


          &:invalid {
            border: 1px solid red;
          }

          &::placeholder {
            color: #FFFFFF;
            font-weight: 300;
          }

          &:focus {
            border: 1px solid rgba(75, 146, 0, 1);
          }
        }

        .donate__monthly-once-container {
          display: flex;
          justify-content: center;
          gap: 69px;

          .donate__circle-container {
            display: flex;
            gap: 5px;
            align-items: center;
            margin-left: -11px;

            @media screen and (max-width: 640px) {
              margin-left: -18px;
            }

            .donate__circle {
              height: 16px;
              width: 16px;
              border-radius: 50%;
              border: 1px solid rgba(254, 144, 19, 1);
              background-color: transparent;
              cursor: pointer;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              transition: 0.1s all linear;
              outline: none;

              &:checked {
                background: rgba(75, 146, 0, 1);
                border: none;
              }
            }

            .donate__circle-text {
              color: rgba(51, 59, 65, 1);
              font-family: Roboto;
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: left;
              cursor: pointer;
            }
          }

        }

        .donate__button {
          margin-top: 31px;
          background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
          margin-left: 12px;

          @media screen and (max-width: 640px) {
            margin-top: 30px;
            margin-left: 0px;
          }

          @media screen and (max-width: 610px) {
            margin-top: 27px;
          }

          &:hover {
            transform: scale(1.03);
            transition: 0.3s;
          }

          &:active {
            transform: scale(0.97);
          }
        }
      }
    }

    .section-peek-and-feed-donate__share-text {
      color: rgba(51, 59, 65, 1);
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 28px;
      margin-left: 12px;

      @media screen and (max-width: 640px) {
        margin-top: 27px;
        margin-left: 0px;
      }

      @media screen and (max-width: 610px) {
        width: 301px;
        margin-top: 31px;
      }

    }
  }
}

.footer__nav-list-donate {
  @media screen and (max-width: 1000px) {
    padding-left: 117px;
  }

}