.wrapper-game {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: -25px;
}

.wrapper-game.opacity {
  opacity: 0;
  transition: 1s;
}

.ul__bird-types {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #3F5F74;
  justify-content: space-between;

  .bird-type {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.666%;
    height: 30px;
    background-color: #3F5F74;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 17px;
  }

  .bird-type.active {
    background-color:rgb(0, 157, 157);
  }
}

.random-bird-container {
   width: 100%;
   display: flex;
   justify-content: space-between;

  .random-bird {
    border-radius: 10px;
    width: 78%;
    display: flex;
    gap: 30px;
    padding: 20px;
    background-color: #3F5F74;

    .random-bird-img {
      width: 150px;
    }
  }

  .score-container {
    border-radius: 10px;
    display: flex;
    gap: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border: 2px solid rgb(0, 157, 157);;

    .score-caption {
      font-family: Montserrat;
      font-size: 17px;
    }

    .score-value {
      font-family: Montserrat;
      font-size: 25px;
    }
  }
}



.choose-bird {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .choose-bird__left {
    border-radius: 10px;
    width: 49%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .li-bird {
      cursor: pointer;
      border-radius: 10px;
      height: 15%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Montserrat;
      font-size: 1.2rem;
      background-color: #3F5F74;

      &:hover {
        background-color: #2e485a;
      }
    }

    .li-bird.pressed {
      background-color: transparent;
      border: 1px solid #3F5F74;
    }

    .li-bird.pressed-truth {
      background-color: rgb(56, 147, 56);
    }
  }
  .choose-bird__right {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 49%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-items: center;
    background-color: #3F5F74;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(5, 27, 41, 1);;
  }
}

.next-level-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 55px;
  border: 1px solid rgb(0, 157, 157);
  background-color: transparent;
  border-radius: 10px;
  font-family: Montserrat;
  font-size: 27px;
  transition: 0.3s;
  color: white;

  &:hover {
    background-color: rgb(0, 157, 157);
  }

  &:active {
    transform: scale(0.98);
    transition: 0.2s;
  }
}

.random-bird__player-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 75%;
  height: fit-content;

  .bierd-to-guess {
    font-family: Montserrat;
    font-size: 27px;
    margin-top: 10px;
  }
}

.img-description-container {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 200px;

  .bird-img {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
  }

  .bird-description {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-size: 18px;
    text-align: left;
    color: white;
    font-weight: 200;
    height: 200px;
  }
}



