.wrapper-game {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: -25px;
  margin-bottom: 20px;
  transition: 1s;

  @media (max-width: 650px) {
    gap: 15px;
  }

  @media (max-width: 580px) {
    margin-top: 0;
  }
}

.wrapper-game.opacity {
  opacity: 0;
  transition: 1s;
}
.wrapper-game.opacity-for-homepopup {
  opacity: 0.1;
  transition: 1s;
}

.ul__bird-types {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #43494d;
  justify-content: space-between;

  .bird-type {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.666%;
    height: 30px;
    background-color: #43494d;
    font-family: Montserrat;
    font-size: 15px;

    @media (max-width: 860px) {
      width: 200px;
    }

    @media (max-width: 699px) {
      width: 100%;
    }
  }

  .bird-type.active {
    background-color:rgb(0, 157, 157);
  }
}

.random-bird-container {
   width: 100%;
   display: flex;
   justify-content: space-between;

   @media (max-width: 860px) {
    flex-direction: column;
    gap: 10px;
  }

  .random-bird {
    border-radius: 10px;
    width: 78%;
    display: flex;
    gap: 30px;
    padding: 20px;
    background-color: #3F5F74;

    @media (max-width: 860px) {
      width: 100%;
    }

    @media (max-width: 550px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .random-bird-img {
      flex-shrink: 0;
      width: 185px;
      height: 185px;
      border-radius: 100px;
      background-size: cover;
      background-position: center;

      @media (max-width: 650px) {
        width: 120px;
        height: 120px;
      }
    }
  }

  .score-container {
    border-radius: 10px;
    display: flex;
    gap: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border: 2px solid rgb(0, 157, 157);

    @media (max-width: 860px) {
      flex-direction: row;
      // gap: 10px;
    }

    @media (max-width: 860px) {
      width: 100%;
    }

    .score-caption {
      font-family: Montserrat;
      font-size: 17px;
    }

    .score-value {
      font-family: Montserrat;
      font-size: 25px;
    }
  }
}

.choose-bird {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1140px) {
    flex-direction: column;
    gap: 20px;
  }

  .choose-bird__left {
    border-radius: 10px;
    width: 49%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1140px) {
      height: 200px;
      flex-wrap: wrap;
      width: 100%;
      gap: 8px;
      justify-content:stretch;
    }

    .li-bird {
      cursor: pointer;
      border-radius: 10px;
      height: 15%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Montserrat;
      text-align: center;
      font-size: 1.2rem;
      background-color: #3F5F74;

      @media (max-width: 1140px) {
        height: 30%;
        width: 49%;
      }

      &:hover {
        background-color: #2e485a;
      }
    }

    .li-bird.pressed {
      // background-color: transparent;
      // border: 1px solid #3F5F74;
      background-color: #833535;
    }

    .li-bird.pressed-truth {
      background-color: rgb(56, 147, 56);
    }
  }
  .choose-bird__right {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 49%;
    min-height: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-color: #3F5F74;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(5, 27, 41, 1);

    @media (max-width: 1140px) {
      width: 100%;
    }

    .top-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .names-container {
      display: flex;
      gap: 10px;
      justify-content: center;
    }
  }
}

.next-level-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 200px;
  height: 55px;
  border: 1px solid rgb(0, 157, 157);
  background-color: transparent;
  border-radius: 10px;
  font-family: Montserrat;
  font-size: 27px;
  transition: 0.3s;
  color: white;
}

.next-level-button.active {
  background-color: rgb(0, 157, 157);
  cursor: pointer;

  &:active {
    transform: scale(0.98);
    transition: 0.2s;
  }
}

.random-bird__player-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 75%;
  height: fit-content;
  margin-top: 15px;

  @media (max-width: 550px) {
    width: 100%;
  }

  .bierd-to-guess {
    font-family: Montserrat;
    font-size: 27px;
    margin-top: 10px;
  }
}

.img-description-container {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;

  @media (max-width: 650px) {
    flex-direction: row;
  }

  @media (max-width: 550px) {
    flex-direction: column;
  }

  .bird-img {
    flex-shrink: 0;
    width: 185px;
    height: 185px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;

    @media (max-width: 550px) {
      width: 180px;
      height: 180px;
    }

  }

  .bird-description {
    display: flex;
    // align-items: center;
    font-family: Montserrat;
    font-size: 18px;
    text-align: left;
    color: white;
    font-weight: 200;
    height: 180px;
    overflow: auto;

    @media (max-width: 1230px) {
      font-size: 15px;
    }
    @media (max-width: 1140px) {
      font-size: 20px;
    }

    @media (max-width: 650px) {
      font-size: 15px;
    }
  }
}

.container-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin: 20px;

  @media (max-width: 1350px) {
    grid-template-columns: 1fr;
  }

.top-container-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 30px;
  border: 1px solid rgb(0, 157, 157);

  .img-description-container {
    @media (max-width: 650px) {
      flex-direction: column;
    }

  }

  .bird-description {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-size: 18px;
    text-align: left;
    color: white;
    font-weight: 200;
    overflow: auto;
    height: 100%;
  }

  .names-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(0, 157, 157);
  }
}
}

