body {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background-image: url(../assets/back.jpg);
  background-position: center;
  background-size:contain;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: aqua;
}

.header {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  flex-direction: column;
  width: fit-content;
  height: fit-content;

  .header__buttons-raw {
    display: flex;
    gap:15px;
    width: 100%;
    height: fit-content;
    align-items: center;
    cursor: pointer;

    @media (max-width: 600px) {
      flex-direction: column;
      gap:0;
    }

    .buttons-raw__new-games-block,
    .buttons-raw__save-games-block {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (max-width: 600px) {
        flex-direction: row;
      }
    }
  }

  .header__times-raw {
    display: flex;
    gap: 10px;
    margin: 0 auto;

    .times-raw__span-title {
      display: flex;
      gap: 10px;
      // color:black;
      color: rgb(0, 75, 79);
      font-weight: Roboto;
      font-weight: 700;
    }

    .times-raw__moves,
    .times-raw__time {
      color: black;
      width: 40px;
    }
    .times-raw__time,
    .times-raw__moves {
      color: rgb(0, 75, 79);
    }
  }
}

.button {
  font-family: Roboto;
  font-weight: 500;
  color: white;
  height: 25px;
  width: fit-content;
  padding: 10px 10px 25px 10px;
  border-radius: 5px;
  background-color: rgb(0, 75, 79);
  cursor: pointer;

  &:active {
    transform: scale(0.95);
    transition: 0.2s ease-out;
  }
}

.buttons-raw__button-new-game-easy,
.buttons-raw__button-load-game  {
  background-color: rgb(87, 153, 155);
}
.buttons-raw__button-stop-game {
  background-color: rgb(161, 0, 0);
  @media (max-width: 600px) {
    display: none;
  }
}

.buttons-raw__button-results {
  background-color: rgb(123, 123, 123);
}

.canvas {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  @media (max-width: 600px) {
    flex-direction: column;
    margin-top: 10px;
  }
}

.game-field {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  position: relative;
  .square {
    position: absolute;
    background-color: rgb(77, 77, 77);
    width: 10%;
    height: 10%;
    left: 0;
    top: 0;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    font-family: Roboto;
    box-shadow: inset 3px 3px #ffffff;
    transition: transform 0.2s;
  }
}

.pop-up,
.pop-up-result {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.9);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  transition: 0.5s ease-in-out;
  .pop-up-result__caption {
    font-weight: 300;
    font-size: 30px;
    color: yellow;
    margin-bottom: 20px;
  }
  .winner-name {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
    border: 1px dotted white;
    padding: 5px;
  }
}
.hidden {
  width: 0;
  height: 0;
}

.footer {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(87, 153, 155);
  height: fit-content;
  margin-top: 50px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-around;

  .volume {
    width: 40px;
    height: 40px;
    background-image: url(../assets/volume.svg);
    cursor: pointer;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
    &:hover {
      opacity: 1;
    }
  }
  .mute {
    background-image: url(../assets/mute.svg);
  }

  .size3 {
    opacity: 0.5;
    position: relative;

  }
  .size3.pressed {
    opacity: 1;
  }

  .git,
  .rss {
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    transition: 0.25s ease;
    &:hover {
      opacity: 1;
      transition: 0.25s ease;
    }
  }
  .rss {
    width: 65px
  }

  .choose-size {
    position: absolute;
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 10px;
    bottom: 120px;
    background-color: white;
    .size {
      width: 70px;
      height: 30px;
      border-radius: 5px;
      background-color: rgb(0, 75, 79);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Rpboto;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .choose-size.hidden {
   display: none;
  }
}